/* style.css */

body {
    background-color: rgb(102, 102, 102);
}

a {
    color: rgb(255, 255, 255);
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

.spacer {
    margin-bottom: 10px;
}

.log_messages {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 1ff0293d6d1695bf7193cdd724dcf2332b1f5964
