<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Booking for {{competition['name']}} | GUDLFT Registration</title>
</head>

<body>
    <h2>Competition {{competition['name']}}</h2>
    
    <h3>Club {{ club['name'] }}</h3>
    <ul>
        <li>Points available : {{club['points']}}</li>
        <li>Places available : {{competition['numberOfPlaces']}}</li>
    </ul>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <hr>
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <label for="places">How many places ? </label><input type="number" name="places" id=""/>
        <button type="submit">Book</button>
    </form>

    <a href="{{url_for('showSummary')}}">Back to competitions page </a>

</body>
</html>
